{% extends "base.html" %}

{% block normal %}
<div class="container">
  <h2>企业消息公告板</h2>
       <div class="panel panel-primary">
      <div class="panel-heading">置顶消息</div>
      <div class="panel-body">消息内容</div>
    </div>

  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> 普通消息</div>
      <div class="panel-body">消息内容</div>
    </div>

       <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> 普通消息</div>
      <div class="panel-body">消息内容</div>
    </div>

            <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> 普通消息</div>
      <div class="panel-body">消息内容</div>
    </div>

                 <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> 普通消息</div>
      <div class="panel-body">消息内容</div>
    </div>

                      <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"> 普通消息</div>
      <div class="panel-body">消息内容</div>
    </div>


  </div>
</div>
{% end %}