{% extends "base.html" %}

{% block login %}

    <label >账号:</label>
    <input type="text"  id="account">


    <label >密码:</label>
    <input type="password" id="password">

  <button id="bt">登录</button>



<script>
    function objToString (obj) {
    var str = '';
    for (var p in obj) {
        if (obj.hasOwnProperty(p)) {
            str += p + '::' + obj[p] + '\n';
        }
    }
    return str;
}
</script>
<script>
 $("#bt").click(function(){
    data={
    "account": $("#account").val(),
    "password":$("#password").val()
    },
  $.ajax({
        type : "post",
        dataType : "json",
        data : JSON.stringify(data),
        url : '/',
        success : function(msg){
            alert(msg);
        },
        error : function(msg) {
        var p =objToString(msg);
            location.href=p;
        }
    });

});
</script>
{% end %}