{% extends "base.html" %}



<title>菜单状态 </title>
{% block normal %}
<p>座号：{{ table }}</p>
<table class="table">
    <thead>
      <tr>
        <th>菜名</th>
        <th>状态</th>
      </tr>
    </thead>

    <tbody>
    {% for food in food_status %}
      <tr>
        <td>{{ food }}</td>
        <td>{{ food_status[food] }}</td>
      </tr>
     {% end %}
    </tbody>
  </table>

<div class="btn-group">
  <button type="button" class="btn btn-primary" id="add">补点</button>
  <button type="button" class="btn btn-primary" id="ret">退点</button>
  <button type="button" class="btn btn-primary" id="flush">刷新</button>
</div>
<div id="add_food" hidden>
    <p>输入要补点的菜</p>
    <input type="text">
    <button id="bu"></button>

</div>
<div id="ret_food" hidden>
    <p>输入要退的菜</p>
    <input type="text">
    <button id="tui"></button>

</div>

<script>
$("#add").click(function(){
  $("#add_food").toggle();
});
$("#ret").click(function(){
  $("#ret_food").toggle();
});
$("#flush").click(function(){
location.reload();
});
$("#bu").click(function(event){
    data={
    "action":"bu",
    "food":$(event.target).prev().val(),
    "table":{{ table }}
    },
  $.ajax({
        type : "post",
        dataType : "json",
        data : JSON.stringify(data),
        url : 'http://127.0.0.1:8080/menustatus/'+ {{ table }},
        success : function(msg){
            location.reload();
        },
        error : function() {
             location.reload();
        }
    });
});
$("#tui").click(function(event){
    data={
    "action":"tui",
    "food":$(event.target).prev().val(),
    "table":{{ table }}
    },
  $.ajax({
        type : "post",
        dataType : "json",
        data : JSON.stringify(data),
        url : 'http://127.0.0.1:8080/menustatus/'+ {{ table }},
        success : function(msg){
        alert(msg['msg'])
            location.reload();
        },
        error : function() {
            <!--alert('wrong');-->
        }
    });
});
</script>

{% end %}